/* 
___colours__
Rosé Pine Dawn
link: https://rosepinetheme.com/palette.html#rose-pine

MAIN
base background = #faf4ed
text = #575279

Layering
light layer = #fffaf3
layer = #f2e9de
dark layer = #e4dfde

accents
links (regular) = #b4637a
links hovered = #d7827e
boarders = #9893a5
light purple accent = #907aa9
light blue accent = #56949f
dark blue = #286983
gold = #ea9d34
*/


/* "Zen Kurenaido" for body fonts, "Unica One" for important stuff */

@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unica+One&family=Zen+Kurenaido&display=swap');

/* For Mobile users */

@media only screen and (max-width: 900px) {
    body nav {
        flex-direction: row;
        align-items: flex-end;
        min-width: 100%;
        max-height: 15%;
        min-height: 8rem;
        text-align: center;
        position: sticky;
        top: 0;
    }
    html body {
        display: flex;
        height: auto;
        flex-direction: column;
    }
    div.contacts {
        margin-left: 0;
        height: 100%;
    }
    div.contacts p {
        margin: 3%;
        overflow: hidden;
        flex: 300px;
    }
    p.newcontent {
        display: none;
    }
    .newcontent {
        content: "New Contacts";
    }
}


/* For Computer users */

html {
    font-family: "Zen Kurenaido";
    height: 100%;
}

body {
    background-color: #faf4ed;
    color: #575279;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    height: auto;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #56949f;
    min-width: 30%;
    position: fixed;
    min-height: 100%;
}

nav a {
    text-decoration: none;
    font-size: calc(1.5rem + .05vw);
    color: #e0def4;
    margin: 5%;
    font-weight: 600;
}

.mainbutton {
    position: relative;
    font-size: calc(2rem + 2vw);
}

a:hover {
    color: #ea9d34;
}

.contacts {
    margin-left: 30%;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

.contacts p {
    background-color: #907aa9;
    color: #faf4ed;
    margin: 3.5%;
    min-height: 12rem;
    overflow: hidden;
    min-width: 20rem;
    padding: 5px;
}

.contacts p:hover {
    background-color: #ea9d34;
    color: #575279;
}